[run]
relative_files = True

[paths]
source =
    statick_md
    **/site-packages/statick_tool
    /home/runner/work/statick-md/statick-md/.tox/*/lib/python*/site-packages/statick_tool
    src/statick_md
    **/.tox/py*/lib/python*/site-packages/statick_tool
    /home/runner/work/statick-md/statick-md/.tox/*/lib/python*/site-packages/statick_tool
    /Users/runner/work/statick-md/statick-md/.tox/*/lib/python*/site-packages/statick_tool
    D:/a/statick-md/statick-md/.tox/*/Lib/site-packages/statick_tool
