---
name: Unit Tests

on:  # NOLINT
  pull_request:
  push:
  schedule:
    - cron: '0 3 * * MON'  # 0300 on Mondays
  workflow_dispatch:

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-10.15, ubuntu-18.04, ubuntu-20.04, windows-latest]
        python-version: [3.6, 3.7, 3.8, 3.9]

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}

      - uses: actions/cache@v1
        if: startsWith(runner.os, 'Linux')
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - uses: actions/cache@v1
        if: startsWith(runner.os, 'macOS')
        with:
          path: ~/Library/Caches/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - uses: actions/cache@v1
        if: startsWith(runner.os, 'Windows')
        with:
          path: ~\AppData\Local\pip\Cache
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade setuptools
          python -m pip install --upgrade wheel
          python -m pip install --upgrade coverage
          python -m pip install --upgrade mypy
          python -m pip install --upgrade types-docutils
          python -m pip install --upgrade statick
          python -m pip install --upgrade statick-md
          python -m pip install --upgrade tox
          python -m pip install --upgrade tox-gh-actions
          python -m pip install --upgrade virtualenv
          python -m pip install -r requirements.txt

      # Have to install newer version from non-apt source due to SSL library compatibility issues.
      - name: Install Node and node-based tools (Linux)
        if: matrix.os == 'ubuntu-18.04' || matrix.os == 'ubuntu-20.04'
        run: |
          sudo apt install curl
          curl -sL https://deb.nodesource.com/setup_14.x -o nodesource_setup.sh
          sudo bash nodesource_setup.sh
          sudo apt install nodejs
          sudo npm install -g n
          sudo n stable
          sudo npm install -g markdownlint-cli
          sudo npm install -g write-good
          rm nodesource_setup.sh

      - name: Mypy
        run: |
          mypy --ignore-missing-imports --strict src/

      - name: Tox
        run: |
          python -m tox

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          fail_ci_if_error: true

      - name: Statick Documentation
        if: matrix.os == 'ubuntu-18.04' || matrix.os == 'ubuntu-20.04'
        run: |
          statick . --check --user-paths . --profile documentation.yaml

      - name: Self check
        if: matrix.os == 'ubuntu-18.04' || matrix.os == 'ubuntu-20.04'
        run: |
          mkdir statick-output
          statick . --output-directory statick-output --check --profile self_check.yaml
